<div class="row">

    <div class="col-xs-4">
        <input type="text" class="form-control" pattern="-?[0-9]*[.,]?[0-9]*" ng-required="component.required"
               ng-model="input.value.digitalValue"
               ng-init="input.value.digitalValue = (input.value.digitalValue === undefined) ? component.defaultValue.digitalValue : input.value.digitalValue"
               ng-disabled="!isInputEnabled(input, component, inputs)">
    </div>

    <div class="col-xs-4" ng-if="!component.unitChoices">

        <input type="text" class="form-control" disabled
               ng-model="input.value.unit" ng-init="input.value.unit = component.unit.ref">

    </div>

    <div class="col-xs-4" ng-if="component.unitChoices">

        <select class="form-control" ng-model="input.value.unit"
                ng-init="input.value.unit = input.value.unit || component.unit.ref"
                ng-options="unit.ref as unit.symbol for unit in component.unitChoices"
                ng-disabled="!isInputEnabled(input, component, inputs)">
        </select>

    </div>

    <div class="col-xs-4">
        <div class="input-group">
            <span class="input-group-addon">±</span>
            <input type="text" class="incertitude form-control" pattern="(100)|[0-9]{1,2}"
                   ng-model="input.value.uncertainty"
                   ng-init="input.value.uncertainty = (input.value.uncertainty === undefined) ? component.defaultValue.uncertainty : input.value.uncertainty"
                   ng-disabled="!isInputEnabled(input, component, inputs)">
            <span class="input-group-addon">%</span>
        </div>
    </div>

</div>
