<div class="af-numeric-input clearfix">

    <div class="af-value has-feedback">
        <input input-float type="text" class="form-control" pattern="-?[0-9]*[.,]?[0-9]*"
               name="{{ refPrefix + component.ref }}"
               ng-required="component.required"
               ng-model="input.value.digitalValue"
               ng-disabled="!isInputEnabled(input, component, inputs)">

        <span class="glyphicon glyphicon-warning-sign form-control-feedback"
              ng-if="valueHasIncompatibleUnit"
              tooltip="{{ valueHasIncompatibleUnitHelp }}"></span>

        <span class="glyphicon glyphicon-info-sign form-control-feedback"
              ng-if="component.defaultValue.reminder && (component.defaultValue.digitalValue !== null)"
              tooltip="{{ defaultValueReminder }}"></span>
    </div>

    <div class="af-unit" ng-if="!component.unitChoices">
        <input type="text" class="form-control" disabled
               ng-model="input.value.unit" ng-init="input.value.unit = component.unit.ref">
    </div>

    <div class="af-unit" ng-if="component.unitChoices">
        <select class="form-control" ng-model="input.value.unit"
                ng-init="input.value.unit = input.value.unit || component.unit.ref"
                ng-options="unit.ref as unit.symbol for unit in component.unitChoices"
                ng-disabled="!isInputEnabled(input, component, inputs)">
        </select>
    </div>

    <div class="af-uncertainty input-group" ng-if="component.withUncertainty">
        <span class="input-group-addon">±</span>
        <input type="text" class="incertitude form-control" pattern="(100)|[0-9]{1,2}"
               ng-model="input.value.uncertainty"
               ng-disabled="!isInputEnabled(input, component, inputs)">
        <span class="input-group-addon">%</span>
    </div>

</div>
