<table class="table table-condensed">
    <tr>
        <th ng-repeat="component in components" ng-style="{ width: 100/(components.length+1) + '%' }">
            {{ component.label }}
            <a class="af-component-help" href="#" tooltip-html-unsafe="{{ component.help }}"
               ng-if="component.help">
                <i class="fa fa-question-circle"></i>
            </a>
        </th>
        <th ng-style="{ width: 100/(components.length+1) + '%' }"></th>
    </tr>

    <tr ng-repeat="inputSet in inputSets">
        <td ng-repeat="component in components">
            <af-horizontal-component component="component" input="getInput(inputSet, component)"></af-horizontal-component>
        </td>
        <td>
            <button type="button" class="btn btn-default" ng-click="remove(inputSet)">
                {{ removeButtonLabel }}
            </button>
        </td>
    </tr>
</table>
