.DS_Store
.idea/*
.vagrant/*
vendor/*
composer.phar

behat/selenium-server-standalone.jar

application/configs/parameters.php
application/configs/application.ini
application/configs/env.php
public/.htaccess

*.vpp.*
*.vpp~*

node_modules/
