<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         backupGlobals="false"
         bootstrap="./tests/init.php">

    <testsuites>

        <testsuite name="Inventory without Unit">
            <directory>./tests/Mapping</directory>
            <directory>./tests/Core</directory>
            <directory>./tests/User</directory>
            <directory>./tests/Calc</directory>
            <directory>./tests/TEC</directory>
            <directory>./tests/Exec</directory>
            <directory>./tests/Classification</directory>
            <directory>./tests/Export</directory>
            <directory>./tests/Parameter</directory>
            <directory>./tests/Algo</directory>
            <directory>./tests/AF</directory>
            <directory>./tests/Social</directory>
            <directory>./tests/Orga</directory>
            <directory>./tests/AuditTrail</directory>
            <directory>./tests/Account</directory>
            <exclude>./tests/Unit</exclude>
        </testsuite>

    </testsuites>

</phpunit>
