<?xml version="1.0" encoding="utf-8"?>
<phpunit colors="true"
         bootstrap="./tests/init.php">

    <testsuites>

        <testsuite name="Inventory without Unit">
            <file>./tests/MappingValidationTest.php</file>
            <directory>./tests/Core</directory>
            <directory>./tests/User</directory>
            <directory>./tests/Calc</directory>
            <directory>./tests/TEC</directory>
            <directory>./tests/Exec</directory>
            <directory>./tests/Classif</directory>
            <directory>./tests/Keyword</directory>
            <directory>./tests/Export</directory>
            <directory>./tests/Techno</directory>
            <directory>./tests/Algo</directory>
            <directory>./tests/AF</directory>
            <directory>./tests/Social</directory>
            <exclude>./tests/Unit</exclude>
        </testsuite>

    </testsuites>

</phpunit>
