#navigationClose { width: 30px; height: 55px; margin-left: -2px; margin-right: 15px; border-left: 0; cursor: pointer; border-radius: 0px 15px 15px 0px; }
#navigationClose.closed { margin-left: -30px; }
#navigationClose.opened { box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.05) inset; }

#navigationPanel { min-width: 200px; max-width: 350px; width: auto; padding: 1%; margin-left: -25px; }

#navigationCurrent { font-weight: bold; font-size: 1.1em; }

#navigationPanel h3 { margin: 0px 0px; }
#navigationPanel hr { margin: 8px 0px; }
#navigationPanel ul { margin: 0px; list-style: none; }
#navigationPanel form { margin: 0px; }
#navigationPanel form .control-label { width: 100px; }
#navigationPanel form { margin-left: 0px; }
#navigationPanel form div { width: 100%; }
#navigationPanel .form-horizontal .form-group { margin-bottom: 5px; }
#navigationPanel .form-horizontal .control-label { float: none; text-align: left; }
#navigationPanel form select { width: 100%; }

#navigationContent { float: none; width: auto; overflow: hidden; margin-left: 0px; }