#navigationClose { width: 250px; height:35px; margin-left: 25px; margin-right: -225px; cursor: pointer; font-style: italic; font-size: large; }
#navigationClose i { margin-top: 8px; }
#navigationClose { transform-origin: 0px 0px; transform: rotate(90deg); }

#navigationPanel { min-width: 200px; max-width: 350px; width: auto; padding: 1%; margin-left: -25px; }

#navigationCurrent { font-weight: bold; font-size: 1.1em; }

#navigationPanel h3 { margin: 0px 0px; }
#navigationPanel hr { margin: 8px 0px; }
#navigationPanel ul { margin: 0px; list-style: none; }
#navigationPanel form { margin: 0px; }
#navigationPanel form .control-label { width: 100px; }
#navigationPanel form .controls { margin-left: 0px; }
#navigationPanel form .controls div { width: 100%; }
#navigationPanel .form-horizontal .control-group { margin-bottom: 5px; }
#navigationPanel .form-horizontal .control-label { float: none; text-align: left; }
#navigationPanel form select { width: 100%; }

#navigationContent { float: none; width: auto; overflow: hidden; }