.af .inputProgress .progress {
    height: 30px;
}
.af .inputProgress .progress .progress-bar {
    line-height: 30px;
    font-size: 13px;
    font-weight: 300;
}

.af fieldset.collapse-wrapper legend a {
    display: inline;
}

.af :invalid:focus {
    border-color: #f09797;
}

.af .af-numeric-input .af-value {
    float: left;
    width: 150px;
    margin-right: 10px;
}
.af .af-numeric-input .af-unit {
    float: left;
    width: 150px;
    margin-right: 10px;
}
.af .af-numeric-input .af-uncertainty {
    float: left;
    width: 110px;
}

.af .af-component-help {
    opacity: 0.3;
    display: inline;
    margin-left: 5px;
}
.af .af-component-help:hover {
    opacity: 1;
}

.resultsPreview {
    margin-top: 30px;
}
