.completionIcon {
    max-height: 23px;
}

.af fieldset.collapse-wrapper legend a {
    display: inline;
}

.af :invalid:focus {
    border-color: #f09797;
}

.af .af-numeric-input .af-value {
    float: left;
    width: 150px;
    margin-right: 10px;
}
.af .af-numeric-input .af-unit {
    float: left;
    width: 150px;
    margin-right: 10px;
}
.af .af-numeric-input .af-uncertainty {
    float: left;
    width: 110px;
    margin-right: 10px;
}
.af .af-numeric-input .af-history {
    float: left;
}
.af .af-numeric-input .form-control-feedback {
    opacity: 0.3;
}
.af .af-numeric-input .form-control-feedback:hover {
    opacity: 1;
}
/* Corrections pour l'affichage des tooltips */
.af .af-numeric-input .form-control-feedback {
    right: 0;
}
.af .af-numeric-input .tooltip-inner {
    width: 190px;
}

.af .af-component-help {
    opacity: 0.3;
    display: inline;
    margin-left: 5px;
}
.af .af-component-help:hover {
    opacity: 1;
}
.af .tooltip-inner {
    width: 300px;
}

.resultsPreview {
    margin-top: 30px;
}
