.inputProgress .progress {
    height: 30px;
}
.inputProgress .progress .progress-bar {
    line-height: 30px;
    font-size: 13px;
    font-weight: 300;
}

fieldset.collapse-wrapper legend a {
    display: inline;
}
