.af .inputProgress .progress {
    height: 30px;
}
.af .inputProgress .progress .progress-bar {
    line-height: 30px;
    font-size: 13px;
    font-weight: 300;
}

.af fieldset.collapse-wrapper legend a {
    display: inline;
}

.af :invalid:focus {
    border-color: #f09797;
}

.resultsPreview {
    margin-top: 30px;
}
