body {
    /* Surcharge le background avec image */
    background: #EFF0F0;
}

/* Logo texte */
#logo-group {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 300;
}
#logo-group a {
    color: #333;
}
#logo-group a:hover {
    text-decoration: none;
}

/* Textes des sous-menus en plus petit */
nav ul ul li a {
    font-size: 13px;
}

/* Pas de breadcrumb */
.fixed-ribbon #content {
    padding-top: 10px;
}

/* Page header de bootstrap n'est pas trop compatible */
.page-header {
    margin: auto;
    border-bottom: none;
}

/* Correction de l'affichage des messages d'erreur en haut de page */
#messageZone {
    position: fixed;
    right: 0;
    left: 220px;
    top: 49px;
    z-index: 999;
}
#messageZone .alert {
    margin: 0;
}

/* Page du dashboard (tableaux) */
.table-forum {
    margin-bottom: 25px;
}
/* une class spéciale pour ces colonnes pour éviter d'avoir du style dans la vue */
.table-forum .col-icon {
    text-align: center;
    width: 40px;
}
.table-forum .col-button {
    /*width: 100px;*/
    position: relative;
}
