/* Logo texte */
#logo {
    margin-left: 30px;
}
#logo-group>span {
    font-size: 18px;
}

/* Pas de breadcrumb */
.fixed-ribbon #content {
    padding-top: 10px;
}

/* Page header de bootstrap n'est pas trop compatible */
.page-header {
    margin: auto;
    border-bottom: none;
}

/* Correction de l'affichage des messages d'erreur en haut de page */
#messageZone .alert {
    margin: 0;
}
