.login-form {
    max-width: 380px;
    margin: 50px auto 200px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.login-form h3 {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    margin: -1px -1px 35px;
    color: #4d4d4d;
    text-shadow: #fff 0 1px 0;
    text-align: center;
    padding: 15px 35px;
}

.login-form form, .login-form p {
    padding: 0 35px;
    margin: 20px 0;
}

.login-form p {
    color: #4d4d4d;
    text-align: center;
    font-size: 16px;
}

.login-form input[type="text"], .login-form input[type="password"] {
    font-size: 14px;
    height: auto;
    padding: 11px 18px;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    background: #f6f6f6;
    border: 1px solid #bbb;
}
.login-form input[type="submit"] {
    font-size: 14px;
    height: auto;
    padding: 11px 18px;
    border-radius: 3px;
}
