/* Redéfinition de la largeur des label dans les formulaires */
.form .control-label { width: 400px; }
.form .controls { margin-left: 430px; }
.form .controls > div { margin-right: 25px; vertical-align: top; }
.form .controls > div:first-child { width: 380px; margin-right: 0px; }
.form .input { display: inline-block; margin-right: 5px; }
.form .input.hide { display: none; }
.form .incertitude { width: 30px; }
.form .subGroup { margin-left: 40px; }
.form .form-actions { padding-left: 426px; }
.form .form-actions > * { margin: 0px 5px; }

.form .subGroup .control-group > label { width: 360px; }
.form .subGroup .control-group > .controls { margin-left: 390px; }
.form .subGroup .subGroup .control-group > label { width: 320px; }
.form .subGroup .subGroup .control-group > .controls { margin-left: 350px; }
.form .subGroup .subGroup .subGroup .control-group > label { width: 280px; }
.form .subGroup .subGroup .subGroup .control-group > .controls { margin-left: 310px; }
.form .subGroup .subGroup .subGroup .subGroup .control-group > label { width: 280px; }
.form .subGroup .subGroup .subGroup .subGroup .control-group > .controls { margin-left: 310px; }
.form .subGroup .subGroup .subGroup .subGroup .subGroup .control-group > label { width: 280px; }
.form .subGroup .subGroup .subGroup .subGroup .subGroup .control-group > .controls { margin-left: 310px; }
.form .subGroup .subGroup .subGroup .subGroup .subGroup .subGroup .control-group > label { width: 280px; }
.form .subGroup .subGroup .subGroup .subGroup .subGroup .subGroup .control-group > .controls { margin-left: 310px; }
.form .subGroup .subGroup .subGroup .subGroup .subGroup .subGroup .control-group .subGroup > label { width: 280px; }
.form .subGroup .subGroup .subGroup .subGroup .subGroup .subGroup .control-group .subGroup > .controls { margin-left: 310px; }
.form .subGroup .subGroup .subGroup .subGroup .subGroup .subGroup .control-group .subGroup .subGroup > label { width: 280px; }
.form .subGroup .subGroup .subGroup .subGroup .subGroup .subGroup .control-group .subGroup .subGroup > .controls { margin-left: 310px; }
.form input + .help-block, .form select + .help-block, .form textarea + .help-block,
.form .uneditable-input + .help-block, .form .input-prepend + .help-block, .form .input-append + .help-block {
    margin-top: 0px;
}

.form div.input.large { width: auto; margin-right: 5px;}
.form textarea { width: auto; height: auto; }

/* Formulaires répétés : affichage des lignes*/
.form .repeatedGroup > div { padding-left: 40px; }
.form .repeatedGroup table.repeatedGroup { margin-bottom: 5px; }
.form .repeatedGroup table.repeatedGroup .controls { margin-left: 0px; }
.form .repeatedGroup table.repeatedGroup .controls > div { margin-right: 0px; }
.form .repeatedGroup table.repeatedGroup .controls > div:first-child { width: auto; }
.form .repeatedGroup table.repeatedGroup .controls .input:first-child input { width: 100px; }
.form .repeatedGroup table.repeatedGroup .controls .input:not(:first-child) { margin: 2px; }
.form .repeatedGroup table.repeatedGroup .controls .input:first-child select { width: 150px; }
.form .repeatedGroup table.repeatedGroup .controls .input:first-child textarea { width: 150px; }
.form .repeatedGroup table.repeatedGroup .controls .input +.input { margin-left: 5px; }
.form .repeatedGroup table.repeatedGroup .controls .input +.input { margin-left: 5px; }

/* Formulaires répétés : Correction de l'affichage des messages d'erreurs*/
.form .repeatedGroup table.repeatedGroup td.warning .help-block,
.form .repeatedGroup table.repeatedGroup td.warning .help-inline {
    color: #c09853;
}

.form .repeatedGroup table.repeatedGroup td.warning .checkbox,
.form .repeatedGroup table.repeatedGroup td.warning .radio,
.form .repeatedGroup table.repeatedGroup td.warning input,
.form .repeatedGroup table.repeatedGroup td.warning select,
.form .repeatedGroup table.repeatedGroup td.warning textarea {
    color: #c09853;
}

.form .repeatedGroup table.repeatedGroup td.warning input,
.form .repeatedGroup table.repeatedGroup td.warning select,
.form .repeatedGroup table.repeatedGroup td.warning textarea {
    border-color: #c09853;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form .repeatedGroup table.repeatedGroup td.warning input:focus,
.form .repeatedGroup table.repeatedGroup td.warning select:focus,
.form .repeatedGroup table.repeatedGroup td.warning textarea:focus {
    border-color: #a47e3c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.form .repeatedGroup table.repeatedGroup td.warning .input-prepend .add-on,
.form .repeatedGroup table.repeatedGroup td.warning .input-append .add-on {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #c09853;
}

.form .repeatedGroup table.repeatedGroup td.error .control-label,
.form .repeatedGroup table.repeatedGroup td.error .help-block,
.form .repeatedGroup table.repeatedGroup td.error .help-inline {
    color: #b94a48;
}

.form .repeatedGroup table.repeatedGroup td.error .checkbox,
.form .repeatedGroup table.repeatedGroup td.error .radio,
.form .repeatedGroup table.repeatedGroup td.error input,
.form .repeatedGroup table.repeatedGroup td.error select,
.form .repeatedGroup table.repeatedGroup td.error textarea {
    color: #b94a48;
}

.form .repeatedGroup table.repeatedGroup td.error input,
.form .repeatedGroup table.repeatedGroup td.error select,
.form .repeatedGroup table.repeatedGroup td.error textarea {
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form .repeatedGroup table.repeatedGroup td.error input:focus,
.form .repeatedGroup table.repeatedGroup td.error select:focus,
.form .repeatedGroup table.repeatedGroup td.error textarea:focus {
    border-color: #953b39;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.form .repeatedGroup table.repeatedGroup td.error .input-prepend .add-on,
.form .repeatedGroup table.repeatedGroup td.error .input-append .add-on {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #b94a48;
}

.form .repeatedGroup table.repeatedGroup td.success .control-label,
.form .repeatedGroup table.repeatedGroup td.success .help-block,
.form .repeatedGroup table.repeatedGroup td.success .help-inline {
    color: #468847;
}

.form .repeatedGroup table.repeatedGroup td.success .checkbox,
.form .repeatedGroup table.repeatedGroup td.success .radio,
.form .repeatedGroup table.repeatedGroup td.success input,
.form .repeatedGroup table.repeatedGroup td.success select,
.form .repeatedGroup table.repeatedGroup td.success textarea {
    color: #468847;
}

.form .repeatedGroup table.repeatedGroup td.success input,
.form .repeatedGroup table.repeatedGroup td.success select,
.form .repeatedGroup table.repeatedGroup td.success textarea {
    border-color: #468847;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form .repeatedGroup table.repeatedGroup td.success input:focus,
.form .repeatedGroup table.repeatedGroup td.success select:focus,
.form .repeatedGroup table.repeatedGroup td.success textarea:focus {
    border-color: #356635;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.form .repeatedGroup table.repeatedGroup td.success .input-prepend .add-on,
.form .repeatedGroup table.repeatedGroup td.success .input-append .add-on {
    color: #468847;
    background-color: #dff0d8;
    border-color: #468847;
}

.form .repeatedGroup table.repeatedGroup td.info .control-label,
.form .repeatedGroup table.repeatedGroup td.info .help-block,
.form .repeatedGroup table.repeatedGroup td.info .help-inline {
    color: #3a87ad;
}

.form .repeatedGroup table.repeatedGroup td.info .checkbox,
.form .repeatedGroup table.repeatedGroup td.info .radio,
.form .repeatedGroup table.repeatedGroup td.info input,
.form .repeatedGroup table.repeatedGroup td.info select,
.form .repeatedGroup table.repeatedGroup td.info textarea {
    color: #3a87ad;
}

.form .repeatedGroup table.repeatedGroup td.info input,
.form .repeatedGroup table.repeatedGroup td.info select,
.form .repeatedGroup table.repeatedGroup td.info textarea {
    border-color: #3a87ad;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form .repeatedGroup table.repeatedGroup td.info input:focus,
.form .repeatedGroup table.repeatedGroup td.info select:focus,
.form .repeatedGroup table.repeatedGroup td.info textarea:focus {
    border-color: #2d6987;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.form .repeatedGroup table.repeatedGroup td.info .input-prepend .add-on,
.form .repeatedGroup table.repeatedGroup td.info .input-append .add-on {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #3a87ad;
}

/* Redéfinition du champs markItUp */
.form .markItUp { width: auto; border: none; }
.form .markItUp .markItUpContainer { padding: 0px; border: inherit; background: none; }
.markItUp textarea { width: 98%; padding: 1%; background: none;
 /* Réécritue des règles de twitter bootstrap */
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}
.markItUp textarea:focus{
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.markItUp .markItUpFooter { display: none; }

/* Redéfinition du champs autocomplete */
.form .input .select2-container { width: 220px; }

/* Redéfinition de la largeur des label dans les formulaires dans des modaux*/
.modal .form .control-label { width: 135px; }
.modal .form .controls { margin-left: 165px; }
.modal .form .markItUp .markItUpContainer { width: 500px; }

/* Fix temporaires pour select2 et les append/prepend de Bootstrap */
.select2-dropdown-open .select2-choice, .select2-container .select2-choice {
    font-size:initial;
}
.input-append .select2-offscreen,
.input-prepend .select2-offscreen {
    position: absolute;
}

/* Form dans un popup : correction d'un margin en trop */
.modal>.form-horizontal {
    margin-bottom: 0;
}
