/* On décale le contenu de la page pour qu'elle soit en dessous du menu */
body { padding-top: 40px; padding-bottom: 40px; }

/* On supprime l'espace en dessous des bandeaux d'alerte pour qu'ils soient collés les uns en dessous des autres */
#messageZone { left: 0; margin-bottom: 0; position: fixed; right: 0; z-index: 50; top: 40px; }
.alert { margin-bottom: 0px; }

/* Masque de chargement */
#loadingMask {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 100%;
    background-image: url('../../images/ui/ajax-loader_large.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ffffff;
    opacity: 0.70;
}

/* Footer */
footer {
    font-size: 0.9em;
    color: grey;
    text-align: center;
}
footer input, footer label {
    font-size: inherit;
}
footer ul { display: inline-block; }
footer ul li { float: left; margin-right: 30px; }
footer ul li:last-child { margin-right: 0px; }
footer .feedback-form {
    text-align: left;
    width: 500px;
    margin: auto;
}

/* Fil d'ariane */
.breadcrumb { margin-bottom: 0px; }

/* On espace le container-fluid de la page du menu (si on défini un espace sous le menu, on a un blanc avant le masque de loading) */
.page { margin-top: 20px; }

/* Style des légendes dans les wrappers */
.wrapper legend { cursor: pointer; border-style: solid none none; border-width: 1px 0 0; border-color: #E5E5E5; margin-bottom: 18px; }
/* Espacement des wrapper successifs */
.wrapper + .wrapper { margin-top : 15px; }
.wrapper + script + .wrapper { margin-top : 15px; }
.wrapper .wrapper { margin-left: 15px; }
/*fieldset fieldset { margin-left: 15px; }*/
/** Collapse dans collapse */
.wrapper .wrapper legend {
    font-size: 18px;
    line-height: 30px;
}

/* Différente tailles de Modaux */
.modal.large { width: 850px; margin-left: -425px; }

/* Ajustement des popover */
.popover { max-width: 476px; }
.popover .popover-title { border-bottom: none; background-color: #FFFFFF; padding: 1px 15px; }
.popover .popover-inner { padding: 1px; border-radius: 3px; height: auto; }